@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .text {
        color: rgba(255, 255, 255, 0.66);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
    }

    * {
        transition: all 0.4s ease-in-out;
    }

    .fade-in {
        opacity: 0;
        transform: translateY(-30px);
        transition: opacity 0.6s, transform 0.6s;
    }

    .fade-in.show {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1450px) {
    html {
        min-width: 1450px;
    }
}

@media screen and (max-width: 976px) {
    html {
        min-width: auto;
    }
}

@media screen and (max-width: 470px) {
    html {
        min-width: 470px;
    }
}